<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis competiciones</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let competicion of listaCompeticiones" (press)="showMatches(competicion)">
      <h2>{{competicion.nombre}}</h2>
      <button ion-button color="primary" item-end clear (click)="editCompetition(competicion)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button color="danger" item-end clear (click)="deleteCompetition(competicion.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addCompetition()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
