<ion-header>

  <ion-navbar>
    <ion-title>{{ 'newPlayer' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div style="text-align: center;">
      <img [src]="imagen" (click)="takeAPhoto()"/>
  </div>

  <ion-item>
    <ion-label stacked>{{ 'name' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)] = "nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>{{ 'dorsal' | translate }}</ion-label>
    <ion-input type="number" [(ngModel)] = "dorsal"></ion-input>
  </ion-item>

  <button ion-button block large (click)="crearJugador()">{{ 'createPlayer' | translate }}</button>

</ion-content>