<ion-header>

    <ion-navbar>
      <ion-title>Competiciones</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let competicion of listaCompeticiones" (click)="showMatches(competicion)">
        <h2>{{competicion.nombre}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>