<ion-header>

  <ion-navbar>
    <ion-title>Crear competición</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label stacked>{{ 'name' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)] = "nombre"></ion-input>
  </ion-item>

  <button ion-button block large (click)="crearCompeticion()">Crear competición</button>
  
</ion-content>