<ion-header>
  <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Jugadores del equipo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let jugador of listaJugadores">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{jugador.imagen}}">
        </ion-avatar>
        <h2>{{jugador.nombre}}</h2>
        <h1 item-end>{{jugador.dorsal}}</h1>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editPlayer(jugador)">
          <ion-icon name="create" class="btnList" ></ion-icon>
        </button>
        <button ion-button color="danger" (click)="deletePlayer(jugador.id)">
          <ion-icon name="trash" class="btnList"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab left bottom>
    <button ion-fab color="primary" (click)="addPlayer()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>