<div class="nextMatch">
  <img [src]="escudoLocal" class="equipoLocal"/>
  <img [src]="escudoVisitante" class="equipoVisitante"/>
  <div class="fecha">13/09/2019</div>
  <div class="hora">19:00</div>
  <div class="lugar">Ciudad Deportiva Almoradí</div>
</div>

