next-match {
    .nextMatch {
        border: 0px solid  black;
        border-radius: 2px;
        width: 100%;
        height: 20%;
        text-align: center;
        background-color: white;
    }

    .nextMatch .equipoLocal{
        float: left;
    }

    .nextMatch .equipoVisitante {
        float: right;
    }

    .nextMatch img {
        height: 100%;
        padding: 5px;
    }

    .lugar {
        padding-top: 10px;
    }
}