<ion-header>
  <ion-navbar>
    <ion-title>Partidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let partido of listaPartidos">
          <ion-thumbnail item-start>
            <img src="{{partido.escudoRival}}">
          </ion-thumbnail>
          <h2>Jornada {{partido.jornada}}</h2>
          <h2>{{partido.nombreRival}}</h2>
          <p>{{partido.fecha | date: 'dd/MM/yyyy HH:mm' }}</p>
          <p>{{partido.lugar}}</p>
      </ion-item>
    </ion-list>
    <ion-fab left bottom>
      <button ion-fab color="primary" (click)="addMatch()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
