.input {
    border-radius: 2px;
    margin: 5px 0px 5px 0px;
}

.transparent {
    background: transparent;
}

.background {
    //background-size: 100%;
    //background-repeat: no-repeat;
    //background-image: url("../assets/imgs/background.jpg");
    background-color: #ffffff;
}

.toolbar-background {
    background-image: linear-gradient(to bottom, rgb(35, 35, 35),rgb(50, 50, 50));
}

.toolbar-title {
    color: white;
}

.back-button-icon {
    color: white;
}

.bar-buttons {
    color: white;
}

