<ion-header>
  <ion-navbar>
  <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Datos de mi equipo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-label stacked>Nombre del equipo</ion-label>
  <span style="font-size: 16pt;">{{equipo.nombre}}</span>
  
  <ion-label stacked>Escudo del equipo</ion-label>
  <div style="text-align: center; width: 100%;">
    <div>
      <img [src]="equipo.escudo"/>
    </div>
  </div>

</ion-content>
