<ion-header>
  <ion-navbar>
  <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ajustes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>