<ion-header>
  <ion-navbar>
    <ion-title>Editar jugador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label stacked>{{ 'name' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)] = "jugador.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>{{ 'dorsal' | translate }}</ion-label>
    <ion-input type="number" [(ngModel)] = "jugador.dorsal"></ion-input>
  </ion-item>

  <button ion-button block large (click)="editarJugador()">{{ 'editPlayer' | translate }}</button>

</ion-content>