<ion-header>

  <ion-navbar>
    <ion-title>Partidos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let partido of listaPartidos">
          <ion-avatar item-start>
            <img src="{{partido.escudoRival}}">
          </ion-avatar>
          <h2>Jornada {{partido.jornada}}</h2>
          <h2>{{partido.nombreRival}}</h2>
          <p>{{partido.fecha | date: 'dd/MM/yyyy HH:mm' }}</p>
          <h1 item-end *ngIf="partido.finalizado">
            {{partido.golesFavor}}-{{partido.golesContra}}
          </h1>
          <button ion-button color="dark" clear icon-only item-end *ngIf="!partido.finalizado">
            <ion-icon name="play" (click)="goToMatch(partido.id)"></ion-icon>
          </button>
      </ion-item>
    </ion-list>
</ion-content>
