<ion-header hidden>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="background" scroll="false">
  
  <img [src]="rutaImg"/>

  <ion-item>
    <ion-label stacked>{{ 'user' | translate }}</ion-label>
    <ion-input type="text" [(ngModel)] = "user"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>{{ 'password' | translate }}</ion-label>
    <ion-input type="password" [(ngModel)] = "passwd"></ion-input>
  </ion-item>

  <ion-item no-lines class="transparent">
    <ion-label>{{ 'dont_sign_out' | translate }}</ion-label>
    <ion-toggle checked="true" [(ngModel)] = "mantenerSesion"></ion-toggle>
  </ion-item>

  <button ion-button block large (click)="startSession()">{{ 'login' | translate }}</button>

</ion-content>
