<ion-header>
  <ion-navbar>
    <ion-title>Añadir partido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label stacked>Nº de jornada</ion-label>
    <ion-input type="number" [(ngModel)] = "jornada"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Día del partido</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" max="2025" pickerFormat="DD MM YYYY" [(ngModel)]="fecha"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label stacked>Hora del partido</ion-label>
    <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm +02:00" [(ngModel)]="fecha"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label stacked>Lugar de partido</ion-label>
    <ion-input type="text" class="input" [(ngModel)] = "lugar"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Nombre del equipo rival</ion-label>
    <ion-input type="text" class="input" [(ngModel)] = "nombreRival"></ion-input>
  </ion-item>

  <ion-label stacked>Escudo del equipo rival</ion-label>
  <img [src]="escudoRival" *ngIf="escudoRival" (click)="getPicture()"/>

  <button ion-button block large (click)="crearPartido()">Crear partido</button>
  
</ion-content>
