boton-main {
    .border {
        border: 0px solid rgb(0, 0, 0);
        border-radius: 2px;
        width: 100%;
        height: 100%;
        background-color: white;
    }

    .border:active {
        background-color: rgba(255, 255, 255, 0.329);
    }

    div {
        color:rgb(0, 0, 0);
        padding: 2px;
    }

    ion-icon {
        color: rgb(0, 0, 0);
        font-size: 750%;
    }
}
