<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{club.nombre}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">

  <div class="nextMatchTitle">{{ 'nextMatch' | translate }}</div>
  <next-match></next-match>
  
  <hr>

  <div class="nextMatchTitle">Estadísticas</div>
  <button ion-button full (click)="navigate('players')">{{ 'my_players' | translate }}</button>

  <hr>

  <div class="nextMatchTitle">Competiciones</div>
  <button ion-button full (click)="navigate('competitions')">{{ 'my_competitions' | translate }}</button>

</ion-content>