<ion-header>
  <ion-navbar>
    <ion-title>Editar competición</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-lines class="input">
    <ion-input type="text" placeholder="{{ 'name' | translate }}" class="input" [(ngModel)] = "competicion.nombre"></ion-input>
  </ion-item>
  
  <button ion-button block large (click)="editarCompeticion()">Editar competición</button>
</ion-content>
