<ion-header primary class="navbar">

  <ion-navbar primary>
    <ion-title>{{ 'sign_up' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background">
    <img [src]="rutaImg"/>

    <ion-item no-lines class="input">
      <ion-input type="text" placeholder="{{ 'user' | translate }}" class="input"></ion-input>
    </ion-item>
  
    <ion-item no-lines class="input">
        <ion-input type="password" placeholder="{{ 'password' | translate }}" class="input"></ion-input>
    </ion-item>

    <ion-item no-lines class="input">
        <ion-input type="password" placeholder="{{ 'repeat_password' | translate }}" class="input"></ion-input>
    </ion-item>

    <ion-item no-lines class="input">
        <ion-input type="text" placeholder="{{ 'name' | translate }}" class="input"></ion-input>
    </ion-item>

    <ion-item no-lines class="input">
        <ion-input type="text" placeholder="{{ 'surnames' | translate }}" class="input"></ion-input>
    </ion-item>

    <ion-item no-lines class="input">
        <ion-input type="email" placeholder="{{ 'email' | translate }}" class="input"></ion-input>
    </ion-item>
  
    <button ion-button block large>{{ 'sign_up' | translate }}</button>
</ion-content>
